
<div class ="jumbotron">
    
    <h1 class ="jumbotron text-center" >>Game Name Goes here<</h1>
        <div class = "center">
        
        <div class = "row">
            <div style ="padding:2px;"><div class = "col-md-0"><div class="badge badge-danger" style="padding:7px;">{{critical}}</div></div></div>
            <div style ="padding:2px;"><div class = "col-md-0"><div class="badge badge-warning" style="padding:7px;">{{high}}</div></div></div>
            <div style ="padding:2px;"><div class = "col-md-0"><div class="badge badge-info"style="padding:7px;">{{moderate}}</div></div></div>
            <div style ="padding:2px;"><div class = "col-md-0"><div class="badge badge-secondary"style="padding:7px;">{{low}}</div></div></div>
            <div style ="padding:2px;"><div class = "col-md-0"><div class="badge badge-success"style="padding:7px;">{{nth}}</div></div></div>
        </div>
    </div>

    
     {{#if defect}}
       <div class= "form-control btn-dark bg-dark" style="border-top-left-radius:10px; border-top-right-radius:10px; border-bottom-left-radius:0;border-bottom-right-radius:0;">
    <div class = "row"> 
        <div class = "col-md-3"><p>Ticket Number</p></div>
        <div class = "col-md-5"><p>Defect Title</p></div>

    </div>
    </div>
    {{/if}}
    {{#each defects}}

    <a class="btn btn-md btn-hover btn-info form-control" style = "border-radius:0; border-top: 1px solid black;  border-bottom: 1px solid black;" data-toggle="collapse" href="#collapse{{ticket_number}}" role="button" aria-expanded="false"
                    aria-controls="collapseExample">
                    <div class = "row">
                    <div class = "col-md-1"><p> {{ticket_number}}</p></div>      
                    <div class = "col-md-5"><p>{{defect_title}}</p></div>

                </div>
                </a>
 <div class="collapse" id="collapse{{ticket_number}}">
                <div class="card card-body ">        
                    {{!-- <p>Ticket #: {{ticket_number}}</p>
        <p class = "font-weight-bold">Defect Title: {{defect_title}}</p> --}}
        <p>Defect Description: </p>
        <div class="card example-1 scrollbar-ripe-malinka">
      <div class="card-body">
        <p>{{defect_description}}</p>
      </div>
    </div>
        <div class = "row" style="padding-left: 20px; width:100%">
            <p style = "width: 100px; text-align:center; background-color: #bf7777; height: 35px; border-bottom-left-radius: 30px">Status:</p>
            <p style = "width: 100px; text-align:center; background-color: #d39090; height: 35px; border-bottom-right-radius: 15px" name = "status">{{status}}</p>

            <p style = "width: 100px; text-align:center; background-color: #42b282; height: 35px; border-bottom-left-radius: 15px; margin-left:20px" >Severity:</p>
            <p style = "width: 100px; text-align:center; background-color: #75ffc3; height: 35px; border-bottom-right-radius: 15px"  name = "severity">{{severity}}</p>
            
            <p class = "creation-date" style = "width: 100px; text-align:center; width: 150px; background-color: #668eb9; height: 35px; border-bottom-left-radius: 15px; margin-left:20px" >Creation Date:</p> 
            <p name = "date" style = "width: 100px; text-align:center; width: 250px; background-color: #73cff8; height: 35px; border-bottom-right-radius: 30px;" >{{date}}</p>
        </div>

        <div class = "row" style = "margin-left: 25px; padding-top:25px;">
        <form method = "POST" action ="/update/{{id}}?" class = "col-md-3">
            <input type="hidden" name="_method" value = "UPDATE">
            <input type="submit" value="Update" class = "btn btn-primary">
        </form>
        <form method = "POST" action ="/view/{{id}}?" class = "col-md-3">
            <input type="hidden" name="_method" value = "MORE DETAIL">
            <input type="submit" value="Delete" class = "btn btn-danger">
        </form>
                <form method = "POST" action ="/delete/{{id}}?" class = "col-md-3">
            <input type="hidden" name="_method" value = "DELETE">
            <input type="submit" value="Delete" class = "btn btn-danger">
        </form>
        <p class = "col" style="width:100px;">Assigned_to:</p><p name ="assigned_to" style="text-align: center;">{{assigned_to}}</p>
        </div>
    </div>
        <br>

            <div style="width:80%; height:3px; border-radius: 150px; background-color: rgba(0,0,0,.5); margin:auto;" >  </div>
    <br>

    </div>
    {{else}}
    <br><br>
    <h3 class = "text-center">No defects being tracked</h3>
    {{/each}}
</div>